.memory-turned {
  background-color: #fff;
  width: 145px;
  height: 145px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.memory-turned::before {
  position: absolute;
  content: "";
  width: 95px;
  height: 95px;
  background-color: #d4d4d4;
  border-radius: 50%;
}
.memory-turned > .icon {
  width: 100px;
  height: 100px;
  transform: translateY(-13px);
  position: absolute;
}
